# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# Saves — ignorar saves locais, manter a pasta
saves/*.json
!saves/.gitkeep

# Ambientes virtuais
.env
.venv
venv/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
